.avatar {
    border-radius: 50%;
    width: 100%;
}

.avatar-post {
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

.avatar-text {
    color: rgb(140, 140, 140);
    font-size: 1.1rem;
    text-align: center;
}